.projects_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
  margin: auto;
  gap: 30px;
}

.projects_header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.image {
  position: relative;
}
.image img {
  display: block;
  height: 200px;
  width: 400px;
  cursor: pointer;
  border: 3px solid red;
  border-radius: 12px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  font-family: "Quicksand", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  opacity: 0;
}
.image__overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.image__title {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
  color: white;
}

.img_line1 {
  display: flex;
  gap: 50px;
}

.img_line2 {
  display: flex;
  gap: 50px;
}

/*560*/
@media screen and (max-width: 480px) {
  .projects_body {
    width: 100%;
    height: 100vh;
  }

  .projects_header {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    position: relative;
  }
  .image img {
    display: block;
    height: 150px;
    width: 300px;
    cursor: pointer;
    border: 3px solid red;
    border-radius: 12px;
  }
  .img_line1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .img_line2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/*780*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .projects_body {
    width: 100%;
    height: 100%;
  }

  .projects_header {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    position: relative;
  }
  .image img {
    display: block;
    height: 250px;
    width: 450px;
    cursor: pointer;
    border: 3px solid red;
    border-radius: 12px;
  }
  .img_line1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .img_line2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/*1024*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .projects_body {
    width: 100%;
    height: 100%;
  }

  .projects_header {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    position: relative;
  }
  .image img {
    display: block;
    height: 260px;
    width: 480px;
    cursor: pointer;
    border: 3px solid red;
    border-radius: 12px;
  }
  .img_line1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .img_line2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
