.homeBody_dark {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Arvo", serif;
}
.homeBody_light {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  color: #000;
  font-family: "Arvo", serif;
}
h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 25px;
  animation: color 5s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
  }
  50% {
    color: rgb(68, 172, 36);
  }
  100% {
  }
}

.col1 {
  /* border: 2px solid red; */
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.col2 {
  /* border: 2px solid red; */
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.picko {
  width: 50%;
}

label {
  font-size: 2em;
}

.firstName {
  font-size: 5em;
  animation: type 5s steps(14);
  animation-iteration-count: infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid;
}
.lastName {
  font-size: 5em;
  position: relative;
  overflow: hidden;
}
.lastName span:nth-child(1) {
  position: relative;
  animation: animate 3s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
@keyframes animate {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 14ch;
  }
}

.sam_title {
  font-size: 3em;
  letter-spacing: 4px;
  animation: text 5s 1;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes text {
  0% {
    letter-spacing: 4px;
  }
  30% {
    letter-spacing: 18px;
  }
  85% {
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 480px) {
  .homeBody_dark {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .homeBody_light {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .picko {
    width: 100%;
  }
  .col1,
  .col2 {
    padding: 0;
    gap: 30px;
  }
  .col1 h3 {
    font-size: 15px;
  }

  .col2 label {
    font-size: 1em;
  }
  .firstName,
  .lastName {
    font-size: 2em;
  }
  .sam_title {
    font-size: 1em;
    animation: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .homeBody_dark {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .homeBody_light {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .picko {
    width: 100%;
  }
  .col1,
  .col2 {
    padding: 0;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col1 h3 {
    font-size: 20px;
  }

  .col2 label {
    font-size: 1.5em;
  }
  .sam_title {
    font-size: 1.5em;
  }

  .lastName {
    position: relative;
    overflow: hidden;
  }
  .lastName span:nth-child(1) {
    position: relative;
    animation: animate 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
  }
  @keyframes animate {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .homeBody_dark {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .homeBody_light {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .picko {
    width: 50%;
  }
  .col1,
  .col2 {
    padding: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col1 h3 {
    font-size: 20px;
  }

  .firstName,
  .lastName {
    font-size: 2.5em;
  }
  .col2 label {
    font-size: 1.5em;
  }
  .sam_title {
    font-size: 1.5em;
  }

  .lastName {
    position: relative;
    overflow: hidden;
  }
  .lastName span:nth-child(1) {
    position: relative;
    animation: animate 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
  }
  @keyframes animate {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
}
